:root {
  --color-accent: #ff0000;
  --color-accent-weak: #fee7e0;
  --color-accent-dark: #fd9797;
  --color-background-light: #f6f6f6;
  --color-background-dark: #696969;

  --size-unit-1: 6px;
  --size-unit-2: 12px;
  --size-unit-3: 18px;
  --size-unit-4: 24px;
  --size-header: 64px;
  --size-action-bar: 64px;
  --size-footer: 66px;
  --size-radii-md: 4px;

  --font-size-x-small: 10px;
  --font-size-small: 12px;
  --font-size-normal: 16px;
  --font-size-large: 18px;
  --font-size-x-large: 36px;

  --font-weight-regular: 500;
  --font-weight-bold: 700;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;

  font-family: "Work Sans", sans-serif;
  font-weight: var(--font-weight-regular);

  font-size: var(--font-size-normal);
}

* {
  box-sizing: border-box;
}
